body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 1600px;
}

.header {
    width: 100%;
    min-width: 1600px;
    max-width: 3840px;
    height: 70px;
    background:linear-gradient(0deg, #0C271E 0%, #285B4A 100%);
    display: flex;
    align-items: center;
    padding: 0 0px;
}

.logo {
    display: flex;
    flex-direction: row; 
}

.title-en {
    display: flex;
    flex-direction: column;  
    margin-left: 15px;

    background: linear-gradient(90deg, #B26002 0%, rgba(255,255,255,0.8) 96%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
            color: transparent;
            
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,1));
}

.title-en .title {
    /* color: white; */
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); */
    display: inline;
}

.title-en .subtitle {
    font-size: 20px;
    /* color: rgba(232,232,232,1); */
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0%;
}

.title-ko {
    margin-top: 11px;
    margin-left: 3px;
    background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, #6D6D6D 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
            color: transparent;
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,1));
}

    
.title-ko .title{
    /* color: white; */
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0;
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); */
    display: inline;
}


.title-ko .subtitle{
    /* color: white; */
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 0;
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); */
    display: inline;
}

.nav-buttons{
    display: flex;
    margin-left: 150px;
}

.nav-button {
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 25px;
    background: none;
    border: none;
    color: rgba(173,176,175,1);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

.nav-button:hover {
    color: rgba(255, 153, 0, 1);
}

.nav-button.active {
    color: rgba(255, 153, 0, 1); 
}


.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 25px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 1px;
}

.user-name {
    color: white;
    font-size: 14px;
    margin-top: 1px; /* 이미지와의 간격 조정 */
}

.logout-button{
    margin-right: 15px;
    background-color: #d9534f;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 44px;
}

.logout_img {
    height: 26px;
    width: 26px;
}


.logout-button:hover {
    background-color: #c9302c; /* 호버 시 배경색 변경 */
}

.content {
    padding: 0px;
    width: 100%;
    height: auto;               /* ✅ 내부 콘텐츠에 따라 유동 */
    /* min-height: 100vh;          ✅ 화면 꽉 채우기 */
    box-sizing: border-box;
    overflow: visible;          /* ✅ 이중 스크롤 방지 */
    min-width: 1600px;
  }

  #content-frame {
    width: 100%;
    height: auto;               /* ✅ 내부에 따라 조정 */
    border: none;
    display: block;
    box-sizing: border-box;
    /* min-height: 100vh;          너무 작을 때를 방지 */
  }
