.filter {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    width: 227px;
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;   
    padding: 0px 5px;
    box-sizing: border-box;
}

.filter input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.filter .search {
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 15px;    
}

.filter .search-icon {
    width: 17px;
    height: 17px;
}

.search-container-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 258px; /* 고정 너비 */
    margin-left: 20px; /* filter와 일치하게 */
    margin-top: 5px;
}
.search-container {
    display: flex;
    margin-left: 0px;   
    margin-top: 0px;
    width: 227px;
    height: 295px;
    border: 1px solid black;
    overflow-y: auto;
    background-color: #fff;
    flex-direction: column;

    overflow-y:scroll;
    scrollbar-width: none;
  }
  .search-container button { 
    margin: 2px 2px 2px 2px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    font-family: NotosansKR;
    cursor: pointer;
  } 
  .search-container button.selected {
    background-color: #f1c0c0;
  }
  .selected-divider::after {
    content: '';
    display: block;
    height: 1px;
    background-color: black;
    margin: 1px 0px;
  }
  .search-container button.dimmed {
    background-color: #BEBEBE;
  }
  .search-container button:last-child {
    border-bottom: none;
  }
  .user-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .user-button span.text {
    margin: 0 auto;
    text-align: center;
    flex: 1;
  }
  .user-button .dot {
    width: 9px;
    height: 9px;
    background-color: rgba(255,0,0,1);
    border-radius: 50%;
    flex-shrink: 0;
  }

  
  /* @media (min-width: 3400px) and (min-height: 1800px) {
    .search-container-wrapper {
      display: flex;
      position: relative;
      align-items: flex-start;
      width: 500px; 
      margin-left: 40px;
      margin-top: 5px;
      background-color: #fff;
  }
  .search-container {
      display: flex;
      margin-left: 0px;   
      margin-top: 0px;
      width: 445px;
      height: 571px;
      border: 1px solid black;
      overflow-y: auto;
      background-color: #fff;
      flex-direction: column;
     
      overflow-y:scroll;
      scrollbar-width: none;
    }
    .search-container button { 
      margin: 2px 2px 2px 2px;
      padding: 5px;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      font-size: 30px;
    }
  } */