BepsApi/.history
BepsApi/Backend/DB/log
cdn_service_test/
BepsApi/Backend/API/blueprints/__pycache__
BepsApi/Backend/API/__pycache__
BepsApi/Backend/Websocket/logs
BepsApi/Backend/API/logs
webhook_listener/__pycache__
BepsApi/Backend/API/services/__pycache__
BepsApi/Backend/API/blueprints/contents/__pycache__

*.log
.cursor
BepsApi/beps/lib
venv/



*.py[cod]
*$py.class
*.cpython-*.pyc
*.pyo
__pycache__/
*.pyc
*.md
BepsApi/.claude/settings.local.json
*.sql
